.field-validation-error {
    font-size: 0.8rem;
    color: #f44336;
    content: attr(data-error);
    transform: translateY(-110%);
}

nav i, nav [class^="mdi-"], nav [class*="mdi-"], nav i.material-icons {
	display: inline-block;
	font-size: 1.5rem;
	padding-right: 4px;
}

input:not([type]):focus:not([readonly]), input[type=text]:focus:not([readonly]), input[type=password]:focus:not([readonly]), input[type=email]:focus:not([readonly]), input[type=url]:focus:not([readonly]), input[type=time]:focus:not([readonly]), input[type=date]:focus:not([readonly]), input[type=datetime]:focus:not([readonly]), input[type=datetime-local]:focus:not([readonly]), input[type=tel]:focus:not([readonly]), input[type=number]:focus:not([readonly]), input[type=search]:focus:not([readonly]), textarea.materialize-textarea:focus:not([readonly]) {
	border-bottom: 1px solid #263238;
    box-shadow: 0 1px 0 0 #263238;
}